@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,900&display=swap');

:root{
    --body: #f5f7ff;
    --accent: #6138ff;
    --light-bg: #f4f7fe;
    --mid-bg: #c3cbdf;
    --primary: #2D3748;
    --secondary: #8f9bba;

    --main-font: 'DM Sans';

    --transition: all 0.3s ease-in-out;
}

body{
    font-family: var(--main-font);
    color: var(--primary);
    background-color: var(--body);
}

h1{
    font-size: 34px;
    font-weight: 900;
    margin: 1.5rem;
}

h1 span{
    color: var(--accent)
}

h3{
    font-weight: 700;
    text-transform: capitalize;
}

.container button{
    background-color: var(--accent);
    border-radius: 20px;
}

.container button:hover{
    background-color: var(--primary);
}

.flex{
    display: flex;
}

.ac{
    align-items: center;
}

a{
    color: var(--secondary);
    transition: var(--transition);
}

a:hover, a:active{
    color: var(--primary);
}

.container {
    display: flex;
}

/* left column */
.container .left-column {
    width: 18rem;
    padding: 16px;
    background-color: #fff;
    height: 100vh;
}

.left-column .left-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 2rem 0;
    border-bottom: 1px solid var(--mid-bg);
    margin-bottom: 2rem;
}

.left-header h2 span{
    font-weight: 900;
    text-transform: uppercase;
}

.sidebar-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
    border-bottom: 1px solid var(--mid-bg);
    margin-bottom: 2rem;
}

.sidebar-header h2 span{
    font-weight: 900;
    text-transform: uppercase;
}

.left-subtitle{
    font-weight: 200;
    font-size: 14px;
    margin-top: -0.3rem;
}

.drawer-content {
    
    padding: 1rem
}

.nav-list{
    gap: 0.3rem;
    display: flex;
    flex-direction: column;
}

.nav-list a:hover{
    background-color: var(--light-bg);
}

.nav-list a.active{
    border-right: 2px solid var(--accent);
    color: var(--primary);
}

.list-icon{
    margin-right: 1.5rem;   
}

.list-label{
    font-weight: 200;
}

.list-icon svg{
    font-size: 1rem;
}

.social-links{
    border-top: 1px solid var(--mid-bg);
    padding-top: 2rem;
    margin-top: 1.5rem;
    text-align: center;
}

.social-links-box {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
}

.social-link-item {
    display: flex;
    align-items: center;
}

.social-icon {
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    padding: 8px;
    transition: 0.3s;
    background-color: var(--light-bg);
    color: var(--secondary);
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-icon svg{
    font-size: 1.3rem;
}

.social-icon:hover {
    background-color: var(--secondary);
    color: #fff;
}

/* right column */

.right-column {
    flex: 1;
    padding: 16px;
}

.header-contacts{
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    flex-wrap: unset;
    padding: 10px;
    border-radius: 30px;
    box-shadow: rgba(112, 144, 176, 0.18) 14px 17px 40px 4px;
    gap: 1rem;
    margin: 0 1rem;
}

.contacts-icon{
    display: flex;
    align-items: center;
    margin-left: 1rem;
    color: var(--accent);
}

.header-contacts .contacts-label{
    color: var(--primary);
    margin-left: 0.5rem;
}

.icon-blocks{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin: 2rem 0;
    
}

.icon-block{
    background-color: #fff;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 15px 20px;
    border-radius: 20px;
    width: 100%;
}

.icon-block .icon{
    background: var(--light-bg);
    border-radius: 50%;
    padding: 1rem;
    color: var(--accent);
}

.icon-block .number{
    font-size: 30px;
    font-weight: 600;
    line-height: 1;
}

.icon-block .label{
    color: var(--secondary)
}


@media (max-width: 1199px) {
    .left-column {
        display: none;
    }
}